@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

@keyframes dots {
  0% { content: "."; }
  33% { content: ".."; }
  66% { content: "..."; }
}

.dots::after {
  content: "...";
  display: inline-block;
  animation: dots 1s infinite steps(1);
}
